<div class="ui computer only tablet only grid">
  <div class="ui top fixed borderless huge menu">
    <div class="ui container">
      <a href="/" class="header item header-logo">
        <img src="/images/logo.png" alt="logo" class="logo">
        PodHead
      </a>
      <div class="item"></div>
      <div class="item">
        <div class="ui icon input ">
          <input type="text" placeholder="Enter episode or channel" class="main-input">
          <i class="search icon"></i>
        </div>
      </div>
      <div class="right menu">
        {{#if session.isAuthenticated}}
          <div class="item" role="button" {{on "click" this.invalidate}}>
            <i class="user icon"></i>
          </div>
        {{else}}
          <div class="item">
            <a class="ui tiny secondary inverted button login" onclick="showLogin()">
              Sign In
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="ui mobile only grid">
  <div class="ui tiny borderless top fixed menu">
    <a class="header item" href="/">
      <img src="/images/logo.png" alt="logo" class="logo">
    </a>
    <div class="item">
      <div class="ui icon input ">
        <input type="text" placeholder="Enter episode..." class="main-input">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="right menu">
      {{#if this.session.isAuthenticated}}
        <a href="" class="item">
          <i class="user icon"></i>
        </a>
      {{else}}
        <a class="item" onclick="showLogin()">
          Sign In
        </a>
      {{/if}}
    </div>
  </div>
</div>

<div class="ui container" id="main-container">
  <div class="ui computer only tablet only grid">
    <br>
    <br>
    <br>
  </div>
  <br>
  <br>
  <br>
  {{outlet}}
</div>

<div class="ui mini modal">
  <div class="header poppins">Sign In To Podhead</div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <div class="ui icon input">
          <Input type="email" placeholder="you@domain.com" class="ui input" @value={{this.loginEmail}} @key-up={{this.checkEmail}} />
          <i class="envelope outline icon"></i>
        </div>
      </div>
    </div>
    {{#if this.emailSent}}
      <br>
      <p style="font-size: 12px">Verification email was sent to  <b>{{this.loginEmail}}</b>, check your junk/spam folder. If nothing came you can <a role="button" {{on "click" this.login}} style="cursor: pointer">resent</a></p>
    {{else}}
      <div class="ui mini info icon message">
        <i class="info icon"></i>
        <div class="content">
          <p>Podhead is working with <a href="https://en.wikipedia.org/wiki/Passwordless_authentication" style="color: purple">passwordless authentication</a> . Just add your email address and follow the link sent to you</p>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="actions">
    <div class="ui black {{if this.isValidEmail "" "disabled" }} poppins button" {{on "click" this.login}}>
      Continue
    </div>
  </div>
</div>

<script >
  function showLogin() {
    $(".ui.mini.modal").modal('show');
  }
</script>
