<h2 class="ui header">
    <img class="ui rounded image" src="https://vercel.com/api/www/avatar/cc8cf309139e807f098d0df361c93dcf7afb0d1d?s=204">
    <div class="content">
        {{#if this.account.firstName}}
            Hi, {{this.account.firstName}} {{this.account.lastName}}
        {{else}}
            Hi
        {{/if}}
        <div class="sub header">{{this.account.username}}</div>
    </div>
</h2>

<br>
<br>

<button class="ui tiny black smalltext button">
    <i class="plus icon" style="color: white"></i>
    Add Channel
</button>
<button class="ui tiny borderless inverted smalltext button" style="border: 1px solid black; color: black">
    <i class="download icon"></i>
    Import Channel
</button>

<div class="ui divider"></div>
<br>
<div class="ui raised stackable cards">
    {{#each channels as |channel|}}
        <LinkTo class="ui card" @route="channels.info" @model={{channel.id}}>
            <div class="content">
                <a class="header" href="">
                    {{channel.channelName}}
                </a>
                <div class="meta" style="font-size: 12px">Updated: {{moment-from-now channel.updatedAt}}</div>
                <div class="description breaks">
                    {{channel.channelDescription}}
                </div>
            </div>
            <div class="extra content">
                <div class="right floated author">
                    <img class="ui avatar image" src="https://pbcdn1.podbean.com/imglogo/image-logo/4310933/WhatsApp_Image_2019-08-28_at_18_43_37.jpeg"> {{this.account.username}}
                </div>
            </div>
        </LinkTo>
    {{/each}}
</div>