<LinkTo @route="channels" style="font-size: 11px; color: grey">
    Channel >
</LinkTo>

<h2 class="ui header">
    <img class="ui rounded image" src={{this.model.channelImageUrl}}>
    <div class="content">
        {{this.model.channelName}}
        <div class="sub header">{{this.account.username}}</div>
    </div>
</h2>

<br>

<button class="ui tiny black smalltext button" onclick="showAddEpisode()">
    <i class="plus icon" style="color: white"></i>
    Add Episode
</button>
<div class="ui divider"></div>
<br>

<div class="ui relaxed divided list">
    {{#each this.model.episodes as |episode|}}
        <div class="item">
            <div class="content">
                <div class="header">{{episode.title}}</div>
            </div>
        </div>
    {{/each}}
</div>

<div class="ui modal add-episode">
    <i class="close icon"></i>
    <div class="header">
        New Episode
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label for="">Title</label>
                <Input type="text" placeholder="#1470 - Elon Musk" class="ui input" @value={{this.title}} @key-up={{this.checkEmail}} />
            </div>
            <div class="field">
                <label for="">Description</label>
                <Textarea type="email" placeholder="Elon Musk is a business magent, entrepreneur and engineer" class="ui input" @value={{this.description}} @key-up={{this.checkEmail}} />
            </div>
            <div class="field">
                <br>
                {{#file-upload name="audio"
                               accept=".mp3,audio/*"
                               onfileadd=(action "uploadAudio") as |queue|}}
                    <a role="button" class="ui {{if load "loading"}} {{if loader "disabled"}} orange button" id="uploadButton">
                        Upload File
                    </a>
                    {{this.audio.name}}
                {{/file-upload}}
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right {{if this.loader "loading" ""}} labeled icon button" {{on "click" this.save}}>
            Add Episode
            <i class="save icon"></i>
        </div>
    </div>
</div>

<script >
    function showAddEpisode() {
        $(".ui.modal.add-episode").modal('show');
    }
</script>

{{outlet}}